/* アイテムブロックのスタイリング */
.item{
    padding: 0;
    margin: 0px;
    width: 15%;
    display: inline-block;
}
.item2{
    margin: 5px;
    width: 30%;
    /* 中身を縦並びに */
    display: inline-flex;
    flex-direction: column;
    /* 中身を中心寄せに */
    justify-content:center;
}
.item2 > p > a{
    color: black;
}
.item2 > p > a:hover{
    text-shadow: 0.5px 0.5px black;

}
@media screen and (max-width: 768px) {
}