.about{
    display: flex;
}
.about-item{
    flex: 1;
    margin: 5px;
}
.guide{
    display: flex;
}
.guide-item{
    flex: 1;
    margin: 5px;
}
.external{
    display: flex;
}
.item-external{
    flex: 1;
}
@media screen and (max-width: 768px) {
    .guide{
        width: 90%;
        display: inline-block;
    }
    .external{
        display: block;
    }

}
@media screen and (max-width: 370px) {
    .item-external{
        display: none;
    }
}